In [1]:
import pandas as pd

In [2]:
postcovid = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
precovid = pd.read_csv('Crime_Data_from_2010_to_2019.csv')

In [3]:
postcovid.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [4]:
precovid.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [ ]:
# Convert date columns to datetime format
postcovid.loc[:, "Date Rptd"] = pd.to_datetime(postcovid["Date Rptd"], format="%m/%d/%Y")
postcovid.loc[:, "DATE OCC"] = pd.to_datetime(postcovid["DATE OCC"], format="%m/%d/%Y")

In [17]:
postcovid["TIME OCC"] = postcovid["TIME OCC"].astype(str).str.zfill(4)  # Ensure 4-digit format
postcovid["Hour"] = postcovid["TIME OCC"].str[:2].astype(int)  # Extract hour for analysis

In [ ]:
import warnings
warnings.filterwarnings("ignore")

postcovid["Vict Sex"].fillna("Unknown", inplace=True)
postcovid["Vict Descent"].fillna("Unknown", inplace=True)
postcovid["Weapon Desc"].fillna("Unknown", inplace=True)
postcovid.drop(columns=["Mocodes", "Weapon Used Cd", "Cross Street"], inplace=True)

KeyError: "['Mocodes', 'Weapon Used Cd', 'Cross Street'] not found in axis"

In [26]:
postcovid.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Vict Age',
       'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Desc',
       'Status', 'Status Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4',
       'LOCATION', 'LAT', 'LON', 'Hour'],
      dtype='object')

In [38]:
post_cleaned.isna().sum()

DR_NO           0
Date Rptd       0
DATE OCC        0
TIME OCC        0
AREA            0
AREA NAME       0
Rpt Dist No     0
Part 1-2        0
Crm Cd          0
Crm Cd Desc     0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Cd       0
Premis Desc     0
Weapon Desc     0
Status          0
Status Desc     0
Crm Cd 1        0
LOCATION        0
LAT             0
LON             0
Hour            0
dtype: int64

In [30]:
postcovid_cleaned = postcovid.dropna()

In [34]:
postcovid = postcovid.drop(columns = ['Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4'])

In [36]:
columns = ['Premis Desc', 'Premis Cd', 'Crm Cd 1']  # replace with your specific columns
post_cleaned = postcovid.dropna(subset=columns)

# Display the cleaned DataFrame
print(post_cleaned)

            DR_NO  Date Rptd   DATE OCC TIME OCC  AREA    AREA NAME  \
0        10304468 2020-01-08 2020-01-08     2230     3    Southwest
1       190101086 2020-01-02 2020-01-01     0330     1      Central
2       200110444 2020-04-14 2020-02-13     1200     1      Central
3       191501505 2020-01-01 2020-01-01     1730    15  N Hollywood
4       191921269 2020-01-01 2020-01-01     0415    19      Mission
...           ...        ...        ...      ...   ...          ...
743812  231510379 2023-05-29 2023-05-25     1100    15  N Hollywood
743813  231604807 2023-01-27 2023-01-26     1800    16     Foothill
743814  231606525 2023-03-22 2023-03-22     1000    16     Foothill
743815  231210064 2023-04-12 2023-04-12     1630    12  77th Street
743816  230906458 2023-03-05 2023-03-05     0900     9     Van Nuys

        Rpt Dist No  Part 1-2 Crm Cd  \
0               377         2    624
1               163         2    624
2               155         2    845
3              1543         2    745
4              1998         2    740
...             ...       ...    ...
743812         1548         2    662
743813         1663         2    740
743814         1602         1    230
743815         1239         1    230
743816          914         2    745

                                              Crm Cd Desc  ...  Premis Cd  \
0                                BATTERY - SIMPLE ASSAULT  ...      501.0
1                                BATTERY - SIMPLE ASSAULT  ...      102.0
2               SEX OFFENDER REGISTRANT OUT OF COMPLIANCE  ...      726.0
3                VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...      502.0
4       VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...      409.0
...                                                   ...  ...        ...
743812                                 BUNCO, GRAND THEFT  ...      710.0
743813  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...      122.0
743814     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...      102.0
743815     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...      222.0
743816           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...      502.0

                                         Premis Desc  \
0                             SINGLE FAMILY DWELLING
1                                           SIDEWALK
2                                    POLICE FACILITY
3       MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
4                                BEAUTY SUPPLY STORE
...                                              ...
743812                                 OTHER PREMISE
743813                      VEHICLE, PASSENGER/TRUCK
743814                                      SIDEWALK
743815                                    LAUNDROMAT
743816  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)

                                           Weapon Desc  Status   Status Desc  \
0       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)      AO   Adult Other
1                          UNKNOWN WEAPON/OTHER WEAPON      IC   Invest Cont
2                                              Unknown      AA  Adult Arrest
3                                              Unknown      IC   Invest Cont
4                                              Unknown      IC   Invest Cont
...                                                ...     ...           ...
743812                                         Unknown      IC   Invest Cont
743813                                         Unknown      IC   Invest Cont
743814  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)      IC   Invest Cont
743815                     UNKNOWN WEAPON/OTHER WEAPON      IC   Invest Cont
743816                                         Unknown      IC   Invest Cont

       Crm Cd 1                                  LOCATION      LAT       LON  \
0         624.0   1100 W  39TH                         PL  34.0141 -118.2978
1         624.0    700 S  HILL                         ST  34.0459 -118.2545
2         845.0    200 E  6TH                          ST  34.0448 -118.2474
3         745.0   5400    CORTEEN                      PL  34.1685 -118.4019
4         740.0  14400    TITUS                        ST  34.2198 -118.4468
...         ...                                       ...      ...       ...
743812    662.0   5300    DENNY                        AV  34.1667 -118.3643
743813    740.0  12500    BRANFORD                     ST  34.2466 -118.4054
743814    230.0  12800    FILMORE                      ST  34.2790 -118.4116
743815    230.0   6100 S  VERMONT                      AV  33.9841 -118.2915
743816    745.0  14500    HARTLAND                     ST  34.1951 -118.4487

       Hour
0        22
1         3
2        12
3        17
4         4
...     ...
743812   11
743813   18
743814   10
743815   16
743816    9

[743329 rows x 23 columns]

In [35]:
# Filtering Vict Age
postcovid = postcovid[(postcovid["Vict Age"] >= 0) & (postcovid["Vict Age"] <= 120)]

In [20]:
# Convert crime codes to categorical
crime_code_columns = ["Crm Cd", "Crm Cd 1", "Crm Cd 2", "Crm Cd 3", "Crm Cd 4"]
postcovid[crime_code_columns] = postcovid[crime_code_columns].astype("category")

/var/folders/q0/6pdlfbr54gg10jp2r3g_sfhc0000gn/T/ipykernel_26085/3994605696.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postcovid[crime_code_columns] = postcovid[crime_code_columns].astype("category")

In [5]:
postcovid.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           102024
Vict Age               0
Vict Sex           97040
Vict Descent       97046
Premis Cd              9
Premis Desc          424
Weapon Used Cd    485624
Weapon Desc       485624
Status                 0
Status Desc            0
Crm Cd 1               9
Crm Cd 2          688731
Crm Cd 3          741978
Crm Cd 4          743763
LOCATION               0
Cross Street      624067
LAT                    0
LON                    0
dtype: int64

In [9]:
postcovid['Mocodes'].value_counts()

Mocodes
0344                                  30866
0329                                  17031
1822 0344                              8702
1501                                   7489
0344 1822                              6238
                                      ...
0344 1601 1822 0386 0321                  1
1822 0910 2034 0344 1218                  1
1309 1602 0344 0397 1822 0202 1414        1
2000 1241 0448 0329                       1
0601 0445 0416 0359                       1
Name: count, Length: 250609, dtype: int64

In [6]:
precovid.isna().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            228151
Vict Age                0
Vict Sex           196731
Vict Descent       196777
Premis Cd              53
Premis Desc           187
Weapon Used Cd    1406208
Weapon Desc       1406209
Status                  3
Status Desc             0
Crm Cd 1               10
Crm Cd 2          1977642
Crm Cd 3          2114068
Crm Cd 4          2117485
LOCATION                0
Cross Street      1762093
LAT                     0
LON                     0
dtype: int64

In [ ]:
print(postcovid.isnull().sum())

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           102024
Vict Age               0
Vict Sex           97040
Vict Descent       97046
Premis Cd              9
Premis Desc          424
Weapon Used Cd    485624
Weapon Desc       485624
Status                 0
Status Desc            0
Crm Cd 1               9
Crm Cd 2          688731
Crm Cd 3          741978
Crm Cd 4          743763
LOCATION               0
Cross Street      624067
LAT                    0
LON                    0
dtype: int64

In [10]:
print(postcovid.describe())

              DR_NO       TIME OCC           AREA    Rpt Dist No  \
count  7.438170e+05  743817.000000  743817.000000  743817.000000
mean   2.145867e+08    1334.877319      10.717617    1118.155374
std    1.019061e+07     653.669683       6.092044     609.211199
min    8.170000e+02       1.000000       1.000000     101.000000
25%    2.021079e+08     900.000000       6.000000     622.000000
50%    2.118209e+08    1415.000000      11.000000    1142.000000
75%    2.214132e+08    1900.000000      16.000000    1618.000000
max    2.399165e+08    2359.000000      21.000000    2199.000000

            Part 1-2         Crm Cd       Vict Age      Premis Cd  \
count  743817.000000  743817.000000  743817.000000  743808.000000
mean        1.415971     500.929161      29.920445     305.927261
std         0.492889     207.982265      21.723517     216.805718
min         1.000000     110.000000      -2.000000     101.000000
25%         1.000000     331.000000      11.000000     101.000000
50%         1.000000     442.000000      31.000000     203.000000
75%         2.000000     626.000000      45.000000     501.000000
max         2.000000     956.000000     120.000000     974.000000

       Weapon Used Cd       Crm Cd 1      Crm Cd 2     Crm Cd 3    Crm Cd 4  \
count   258193.000000  743808.000000  55086.000000  1839.000000   54.000000
mean       362.581739     500.669532    957.231384   983.693312  989.925926
std        123.675447     207.771223    111.982666    51.595992   29.327591
min        101.000000     110.000000    210.000000   434.000000  821.000000
25%        309.000000     331.000000    998.000000   998.000000  998.000000
50%        400.000000     442.000000    998.000000   998.000000  998.000000
75%        400.000000     626.000000    998.000000   998.000000  998.000000
max        516.000000     956.000000    999.000000   999.000000  999.000000

                 LAT            LON
count  743817.000000  743817.000000
mean       33.969753    -117.993467
std         1.881087       6.523385
min         0.000000    -118.667600
25%        34.013300    -118.429500
50%        34.058500    -118.321400
75%        34.163000    -118.273900
max        34.334300       0.000000

In [14]:
postcovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743817 entries, 0 to 743816
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           743817 non-null  int64
 1   Date Rptd       743817 non-null  object
 2   DATE OCC        743817 non-null  object
 3   TIME OCC        743817 non-null  int64
 4   AREA            743817 non-null  int64
 5   AREA NAME       743817 non-null  object
 6   Rpt Dist No     743817 non-null  int64
 7   Part 1-2        743817 non-null  int64
 8   Crm Cd          743817 non-null  int64
 9   Crm Cd Desc     743817 non-null  object
 10  Mocodes         641793 non-null  object
 11  Vict Age        743817 non-null  int64
 12  Vict Sex        646777 non-null  object
 13  Vict Descent    646771 non-null  object
 14  Premis Cd       743808 non-null  float64
 15  Premis Desc     743393 non-null  object
 16  Weapon Used Cd  258193 non-null  float64
 17  Weapon Desc     258193 non-null  object
 18  Status          743817 non-null  object
 19  Status Desc     743817 non-null  object
 20  Crm Cd 1        743808 non-null  float64
 21  Crm Cd 2        55086 non-null   float64
 22  Crm Cd 3        1839 non-null    float64
 23  Crm Cd 4        54 non-null      float64
 24  LOCATION        743817 non-null  object
 25  Cross Street    119750 non-null  object
 26  LAT             743817 non-null  float64
 27  LON             743817 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 158.9+ MB